.content-section {
  box-sizing: border-box;
  width: 100%;
  margin: auto;
}

.header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-content: center space-between;
  align-items: center;
  padding: 95px 50px;
}

.header__menu-list {
  display: flex;
  gap: 32px;
}

.header__menu-item {
  list-style-type: circle;
}

.header__menu-item_active {
  list-style-type: none;
}

.header__menu-item :hover {
  color: blue;
  border-bottom-color: blue;
}

.header__menu-link {
  font-size: 18px;
  font-style: normal;
  line-height: 1;
  text-decoration: none;
  border-bottom: 1px solid #000;
}

.header__menu-item_active .header__menu-link {
  color: #000;
  border-bottom: none;
}

.header__logo {
  display: block;
  justify-self: center;
  width: 148px;
  height: 105px;
}

.header__logo-image {
  height: 100%;
}

.address {
  max-width: 240px;
  font-size: 18px;
  font-style: normal;
  line-height: 1.35;
}

.header .address {
  margin-left: auto;
}

.address a {
  text-decoration: none;
  border-bottom: 1px solid #000;
}

.cover {
  position: relative;
  padding: 165px 50px 50px;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.overlay {
  position: absolute;
  inset: 0;
  z-index: 1;
  background-color: rgba(0 0 0 / 0.6);
}

.cover__title {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  width: 100%;
  margin-bottom: 135px;
  color: #fff;
  font-weight: bold;
  font-size: 100px;
  font-style: normal;
  line-height: 1;
  letter-spacing: 0.3em;
  text-transform: uppercase;
}

.aligned-text {
  display: block;
}

.aligned-text_center {
  text-align: center;
}

.aligned-text_right {
  text-align: right;
}

.letter-spacing-extended {
  letter-spacing: 0.6em;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.line-height-extended {
  line-height: 1.15;
}

.cover__description {
  display: flex;
  justify-content: end;
  align-items: center;
  position: relative;
  z-index: 2;
}

.cover__description-text {
  margin: 0 auto;
  padding-left: 22%;
  color: #fff;
  font-weight: normal;
  font-size: 22px;
  font-style: normal;
  line-height: 1.27;
  text-transform: uppercase;
  word-spacing: 18px;
}

.bet-button {
  min-width: 257px;
  height: 52px;
  border: 1px solid #fff;
  padding: 12px 32px;
  color: #fff;
  font-size: 22px;
  font-style: normal;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  background-color: transparent;
}

.lots {
  padding: 180px 50px 0;
}

.lots__heading {
  padding-left: 40px;
  font-weight: bold;
  font-size: 40px;
  font-style: normal;
  line-height: 1;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  margin-top: 27px;
  list-style-type: none;
}

.lots__card-list-item {
  flex-grow: 1;
  flex-basis: 430px;
}

.card-link {
  display: block;
  height: 100%;
  text-decoration: none;
}

.opacity-link-hover :hover {
  opacity: 0.8;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 30px;
  height: 100%;
  padding: 50px 40px;
  background-repeat: no-repeat;
  background-size: cover;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card__title {
  position: relative;
  z-index: 2;
  color: #fff;
  font-weight: bold;
  font-size: 22px;
  font-style: normal;
  line-height: 1.2;
  text-decoration: underline;
  text-transform: uppercase;
}

.card__text {
  position: relative;
  z-index: 2;
  color: #fff;
  font-weight: normal;
  font-size: 20px;
  font-style: normal;
  line-height: 1.2;
}

.lots__look-more-link {
  display: block;
  margin-top: 30px;
  margin-left: 40px;
  font-size: 20px;
  font-style: normal;
  line-height: 1;
}

.about {
  display: grid;
  grid-template-columns: 32% 1fr;
  gap: 25px;
  padding: 180px 50px 0;
}

.about__column {
  justify-self: center;
}

.about__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: #000;
}

.about__logo-image {
  width: 148px;
}

.about__title {
  margin-bottom: 100px;
  padding-top: 100px;
  font-weight: bold;
  font-size: 40px;
  line-height: 1.2;
  text-transform: uppercase;
}

.about__group-text :first-child {
  margin-top: 0;
}

.about__text {
  margin-top: 25px;
  font-size: 20px;
  font-style: normal;
  line-height: 1.2;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 180px 50px 90px;
}

.footer__menu {
  text-align: center;
}

.footer__menu-list {
  list-style-type: none;
}

.footer__menu-item :hover {
  color: blue;
  border-bottom-color: blue;
}

.footer__menu-link {
  font-size: 18px;
  font-style: normal;
  line-height: 1;
  text-decoration: none;
  border-bottom: 1px solid #000;
}

.footer__menu-item_active .footer__menu-link {
  color: #000;
  border-bottom: none;
}

.footer__social-list {
  display: flex;
  gap: 48px;
  list-style-type: none;
}

.footer__social-link {
  display: block;
  width: 48px;
}

.footer__social-icon {
  width: 100%;
}
